<div class="row">
    <div class="col-12">
        <h1 class="d-inline">Ficha del Contenedor </h1>
        <div class="row">
            <div class="card">
                <div class="col-12">
                    <div class="col-6">
                        <img class="card-img-top img-responsive" src="../../../assets/images/contenedores/contenedor6.jpg" alt="">
                    </div>
                    <div class="col-6">
                        <h1>Contenedor Mezcla</h1>
                        <h4 class="card-title">Zona 1</h4>
                        <p class="card-text"></p>
                        <a href="" class="btn btn-primary">Ver histórico</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>