<div class="row">
    <div class="col-md-6" *ngFor="let chart of chartsConfig">
        <div class="card">
            <div class="card-body text-center">
                <h2> <u> <b> Gráfica por semana último mes completado {{ chart.leyenda }} </b> </u> </h2>

                <app-grafico-barras [chartConfig]="chart">
                </app-grafico-barras>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li class="text" *ngFor="let item of items | async">
                        {{ item.nombre }}
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>