<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Listado de Zonas</h1>

            <table class="table table-hover color-bordered-table inverse-bordered-table">
                <thead>
                    <tr>
                        <th>Área</th>
                        <th>Zona</th>
                        <th>Puntuación</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Almacén Concentrado/Planta de muestras</td>
                        <td>Zona 1</td>
                        <td>
                            <h3><b>50</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>Parcela Silicato</td>
                        <td>Zona 2</td>
                        <td>
                            <h3><b>21</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>Refinería</td>
                        <td>Zona 3</td>
                        <td>
                            <h3><b>38</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>C. Térmica, Refractario</td>
                        <td>Zona 4</td>
                        <td>
                            <h3><b>31</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>CAM</td>
                        <td>Zona 5</td>
                        <td>
                            <h3><b>35</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>Vestuario Comedor y Transporte</td>
                        <td>Zona 6</td>
                        <td>
                            <h3><b>52</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>HORNOS y oficines EECC</td>
                        <td>Zona 7</td>
                        <td>
                            <h3><b>25</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>Fábricas de Ácido I y II</td>
                        <td>Zona 8 y 9</td>
                        <td>
                            <h3><b>46</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>Formación</td>
                        <td>Zona 10</td>
                        <td>
                            <h3><b>75</b></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>Laboratorio, OOGG, Taller</td>
                        <td>Zona 11</td>
                        <td>
                            <h3><b>64</b></h3>
                        </td>
                    </tr>
                </tbody>

            </table>


        </div>
    </div>
</div>