<div class="row">
    <div class="col-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">10</h1>
                        <h4 class="text-white">Calificaciones Hoy</h4>
                        <button class="btn btn-rounded btn-lg btn-outline btn-light m-t-10 font-14">Ver listado</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-list-ol display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Contenedor Mezcla - Zona 1</h1>
                        <h4 class="text-white">Mejor calificación</h4>
                        <button class="btn btn-rounded btn-lg btn-outline btn-light m-t-10 font-14">Ver Ficha</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-arrow-up display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Zona 5</h1>
                        <h6 class="text-white">Zona Mejor puntuada hoy</h6>
                        <button class="btn btn-rounded btn-lg btn-outline btn-light m-t-10 font-14">Ver listado de zona</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-th-list display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ranking zonas mejor puntuadas</h4>
                This is some text within a card block.
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ranking zonas peor puntuadas</h4>
                This is some text within a card block.
            </div>
        </div>
    </div>
</div>